
.con-one{

	height: 200px;
	width: 100px;
	background-color: blue;
}
.con-two{

	height: 200px;
	width: 100px;
	background-color: pink;
}
.con-three{

	height: 200px;
	width: 100px;
	background-color: green;
}
